<div class="card">
    <mat-card class="ingredient-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Ingredientes</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Ingrediente 1: {{obj.Ingrediente_1}}</p>
          <p>Ingrediente 2: {{obj.Ingrediente_2}}</p>
          <p>Ingrediente 3: {{obj.Ingrediente_3}}</p>
          <p>Ingrediente 4: {{obj.Ingrediente_4}}</p>
          <p>Ingrediente 5: {{obj.Ingrediente_5}}</p>
          <p>Ingrediente 6: {{obj.Ingrediente_6}}</p>
          <p>Total: {{obj.Total}}</p>
        </mat-card-content>
      </mat-card>
</div>